/* VARIAVEIS DE TEMA---------------------------------- */

:root{
    --bg-color: #BFDDEF;
    --main-color: #0578BD;
    --cta-color: #00D0FF;
    --text-color: #fff;
    --font-size: 1vw;
}

/* ---------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background-color: var(--bg-color);
    /* width: 100vw; */
}

header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 0 3vw;
    width: 100%;
    z-index: 1;
    top: 0;
}

.logo{
    margin: 0 1vw;
}

.logo img{
    width: 6vw;
}

.nav-bar{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    list-style: none;
    color: var(--text-color);
    font-size: var(--font-size);
}

.user-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    margin: 0 1vw;
}

.user-container img{
    width: 1.2vw;
    height: 1.2vw;
    cursor: pointer;
}


#carrinho{
    width: 1.4vw;
    height: 1.4vw;
}


.carrossel{
    max-width: 100vw;
    overflow: hidden;
}



.text-home{
    position: relative;
    margin-top: 5vw;
    color: var(--main-color);
    text-align: center;
    font-size: 2.5vw;
}

.sessao{
    margin-top: 3vw;
    margin-bottom: 5vw;
    padding: 3vw;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    position: relative;
    display: flex;
    justify-content: center;
    /* margin-top: 5vw; */
    width: 20%;
    box-shadow: 3px 7px 5px 1px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    /* transform: rotateZ(10deg) */
}

